# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend develop
backend/.venv
backend/config.ini
backend/__pycache__
backend/requests
backend/requests-2.32.4.dist-info
backend/urllib3
backend/urllib3-2.4.0.dist-info
backend/idna-3.10.dist-info
backend/idna
backend/charset_normalizer-3.4.2.dist-info
backend/charset_normalizer
backend/certifi-2025.6.15.dist-info
backend/certifi
backend/bin